# Pixi is a package management tool for developers.
# Before running a task, pixi ensures that all listed dependencies are installed first.echop
#
# Pixi is not required for rerun, but it is a convenient way to install the
# dependencies required for this example.
#
# https://prefix.dev/docs/pixi/overview
#
# Use `pixi task list` to list the available tasks,
# and `pixi run TASK` to run it (e.g. `pixi run example`).

[project]
name = "rerun_bridge2"
authors = ["rerun.io <opensource@rerun.io>"]
channels = ["robostack-staging", "conda-forge"]
description = "rerun_bridge2"
homepage = "https://rerun.io"
license = "MIT OR Apache-2.0"

platforms = ["linux-64", "linux-aarch64", "osx-arm64", "osx-64", "win-64"]
readme = "README.md"
repository = "https://github.com/rerun-io/cpp-example-ros2-bridge"
version = "0.1.0"


[tasks]
# ------------------------------------------------------------------------------------------
# C++ stuff:
# Note: extra CLI argument after `pixi run TASK` are passed to the task cmd.

# Clean C++ build artifacts
clean = { cmd = "rm -rf build bin CMakeFiles/" }
print-env = { cmd = "echo $PATH" }

# Format C++ code
cpp-fmt = { cmd = "clang-format -i rerun_bridge/**/*.[hc]pp" }

# Check formatting of C++ code
cpp-fmt-check = { cmd = "clang-format --dry-run --Werror -i rerun_bridge/**/*.[hc]pp" }

# Check for typos
lint-typos = "typos"

# ------------------------------------------------------------------------------------------
# ROS2 stuff:

[tasks.ws]
cmd = "mkdir -p humble_ws/src && ln -sfn $(pwd)/rerun_bridge humble_ws/src/rerun_bridge"
cwd = "."

[tasks.build]
cmd = "colcon build --packages-select rerun_bridge --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"
depends-on = ["ws"]
cwd = "humble_ws"

# Get mcap support from source since its not available in robostack channel
#
# We first check if the src directory already exists to avoid repeating the clone.
[tasks.rosbag2_storage_mcap]
cmd = """
(test -d src/rosbag2_storage_mcap || git clone https://github.com/ros-tooling/rosbag2_storage_mcap.git src/rosbag2_storage_mcap)
&& colcon build --packages-select mcap_vendor rosbag2_storage_mcap_testdata rosbag2_storage_mcap --cmake-args -DCMAKE_BUILD_TYPE=Release
"""
depends-on = ["ws"]
cwd = "humble_ws"

# ------------------------------------------------------------------------------------------
# CARLA example:

[tasks.carla_example_data]
cmd = "curl -L -C - -O https://storage.googleapis.com/rerun-example-datasets/carla_ros2.zip && unzip carla_ros2.zip"
cwd = "humble_ws/install/rerun_bridge/share/rerun_bridge"
outputs = ["humble_ws/install/rerun_bridge/share/rerun_bridge/carla_ros2"]
depends-on = ["build"]

[tasks.carla_example]
cmd = "bash -c 'source ./install/local_setup.bash && ros2 launch rerun_bridge carla_example.launch'"
depends-on = ["build", "rerun_viewer", "carla_example_data"]
cwd = "humble_ws"

# ------------------------------------------------------------------------------------------
# Go2 example:

[tasks.go2_example_data]
cmd = "curl -L -C - -O https://storage.googleapis.com/rerun-example-datasets/go2_ros2.zip && unzip -n go2_ros2.zip"
cwd = "humble_ws/install/rerun_bridge/share/rerun_bridge"
outputs = ["humble_ws/install/rerun_bridge/share/rerun_bridge/go2_ros2"]
depends-on = ["build"]

# Get the go2_ros2_sdk package
#
# We first check if the src directory already exists to avoid repeating the clone.
[tasks.go2_ros2_sdk]
cmd = """
(test -d src/go2_ros2_sdk || git clone --recurse-submodules https://github.com/abizovnuralem/go2_ros2_sdk.git src/go2_ros2_sdk)
&& colcon build --packages-select unitree_go go2_interfaces go2_robot_sdk --cmake-args -DCMAKE_BUILD_TYPE=Release
"""
cwd = "humble_ws"
depends-on = ["ws"]

[tasks.go2_example]
cmd = "bash -c 'source ./install/local_setup.bash && ros2 launch rerun_bridge go2_example.launch'"
depends-on = [
    "build",
    "go2_example_data",
    "go2_ros2_sdk",
    "rosbag2_storage_mcap",
    "rerun_viewer",
    "rerun_urdf_loader",
]
cwd = "humble_ws"

# Install Rerun 0.24.0 with native URDF support
[tasks.rerun_viewer]
cmd = "pip install rerun-sdk==0.24.0"


[tasks.rerun_urdf_loader]
cmd = "pip install git+https://github.com/rerun-io/rerun-loader-python-example-urdf.git"

[dependencies]
python = "3.11.*"
numpy = "1.26.*" #1.26.x fails during go2_interface compile
pip = ">=24.0,<25" # To install rerun-sdk

# C++ build-tools:
cmake = "==3.27.6"
clang-tools = ">=15,<16" # clang-format
cxx-compiler = "1.6.0.*"
ninja = "==1.11.1"

# ROS 2 build-tools:
colcon-core = ">=0.16.0,<0.17"
colcon-common-extensions = ">=0.3.0,<0.4"

# Misc linting:
typos = ">=1.20.9,<1.21"

# Rerun bridge dependencies:
ros-humble-desktop = ">=0.10.0,<0.11"
yaml-cpp = ">=0.8.0,<0.9"
opencv = ">=4.9.0,<4.10"

# Additional dependencies for mcap support
ros-humble-rosbag2-test-common = ">=0.15.9,<0.16"

[target.linux-64.dependencies]
sysroot_linux-64 = ">=2.17,<3" # rustc 1.64+ requires glibc 2.17+, see https://blog.rust-lang.org/2022/08/01/Increasing-glibc-kernel-requirements.html

[target.linux-aarch64.dependencies]
sysroot_linux-aarch64 = ">=2.17,<3" # rustc 1.64+ requires glibc 2.17+, see https://blog.rust-lang.org/2022/08/01/Increasing-glibc-kernel-requirements.html
