# Copied from https://github.com/rerun-io/rerun_template
on: [push, pull_request]

name: C++

jobs:
  cpp-check:
    name: C++
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.26.1
          cache: true

      - run: pixi run cpp-fmt-check

      - run: pixi run build
